{% block content %}
{% load static %}
<footer class="site-footer section-padding">

    <div class="container">

        <div class="row">

            <div class="col-12">
                <h4 class="text-white mb-4 me-5">Permit Your Self</h4>
            </div>

            <div class="col-lg-4 col-md-7 col-xs-12 tooplate-mt30">
                <h6 class="text-white mb-lg-4 mb-3">Location</h6>

                <p>Nevsky District, St Petersburg, 192012</p>

                <a href="https://goo.gl/maps/zkfgEpthAKisHHVg8" class="custom-btn btn btn-dark mt-2">Directions</a>
            </div>

            <div class="col-lg-4 col-md-5 col-xs-12 tooplate-mt30">
                <h6 class="text-white mb-lg-4 mb-3">Opening Hours</h6>

                <p class="mb-2">Monday - Friday</p>

                <p>10:00 - 20:00 (UTC +3)</p>

                <p>Tel: <a href="#" class="tel-link">88008000</a></p>

            </div>

            <div class="col-lg-4 col-md-6 col-xs-12 tooplate-mt30">
                <h6 class="text-white mb-lg-4 mb-3">shop&social</h6>
                <ul class="social-icon">

                    <li><a href="#" class="social-icon-link bi-facebook"></a></li>

                    <li><a href="#" class="social-icon-link bi-instagram"></a></li>

                </ul>
                <ul class="shop-icon">
                    <li><a href="https://www.ozon.ru/seller/ip-valyan-a-n-675330/products/?miniapp=seller_675330" target="_blank" class="shop_ozon">OZON</a></li>
                </ul>
                <p class="copyright-text tooplate-mt60">Copyright © 2023 Permit Your Self.
                    <br>Design: <a rel="nofollow" href="/" target="_blank">OpenSource</a></p>

            </div>

        </div>

    </div>

</footer>
{% endblock %}